doctype html
html(lang="pt-br")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=yes, shrink-to-fit=no")
    
    link(rel="stylesheet", type="text/css", href="/stylesheets/materialize.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    link(rel="apple-touch-icon", sizes="180x180", href="/img/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/img/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/img/favicon-16x16.png")
    link(rel="manifest", href="manifest.json")
    link(rel="mask-icon", href="/img/safari-pinned-tab.svg", color="#417da2")
    meta(name="theme-color", content="#ffffff")

    meta(property="og:title", content="ChatBOT ;-)")
    title="ChatBOT ;-)"
  body(ng-app="chatApp", ng-controller="WatsonController")
    block content
    block javascript